body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	text-align: left;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}
.signin-form {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.5);
}
.signin-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.signin-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.signin-form input {
	width: 100%;
	margin-bottom: 20px;
}
.signin-form input[type=text], .signin-form input[type=password] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.signin-form p{
	margin: 0;
	padding: 0 0 10px;
	color: red;
	text-align: center;
	font-style: normal;
	font-size: 18px;
}

.signin-form input[type=submit] {
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 10%;
}
