<!DOCTYPE html>
<html>

<head>
	<script src="http://kit.fontawesome.com/433888fe69.js" crossorigin="anonymous">
	</script>
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/dep.css') }}">
</head>

<body>
	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#">ONLINE NOTICE BOARD</a>
				</div>
				<div class="icon">
					<li>
						<a href="/adminlogin">
							<span class="icon">
							<span class="title">Login</span>
						</a>
					</li>
				</div>
				
			</div>
		</header>
	</div>
	<div class="form">
		<h2>Departments</h2>
		<a href="/notice">Computer science</a>
	</div>


</body>

</html>